/* To be overridden by theme user */
// @import "variables";

body {
	background: #f0f0f0;
	color: #1f1f1f;
	font-family: Helvetica Neue, Helvetica, Verdana;
}

h1.book-brand {
	display: table-caption;
	font-family: monospace;
}

a:link, a:hover, a:active, a:visited {
	background: #f0f0f0;
	color: #1f1f1f;
	text-decoration: underline;
}

.book-brand > a:link {
	text-decoration: none;
}

.abouts {
	font-size: 0.8em;
}

.abouts > hr {
	margin-top: 12em;
}

.small-print {
	font-size: 0.5em;
}
